<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdaptiveCards" version="1.0.3" targetFramework="net461" />
  <package id="Autofac" version="4.8.1" targetFramework="net461" />
  <package id="Autofac.Extras.AttributeMetadata" version="4.0.1" targetFramework="net461" />
  <package id="Autofac.Mef" version="4.0.0" targetFramework="net461" />
  <package id="Ben.Demystifier" version="0.1.1" targetFramework="net461" />
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net461" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net461" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net461" />
  <package id="Costura.Fody" version="3.1.0" targetFramework="net461" developmentDependency="true" />
  <package id="Dapplo.Addons" version="1.0.78" targetFramework="net461" />
  <package id="Dapplo.Addons.Bootstrapper" version="1.0.78" targetFramework="net461" />
  <package id="Dapplo.Addons.Config" version="1.0.78" targetFramework="net461" />
  <package id="Dapplo.Ini" version="0.5.29" targetFramework="net461" />
  <package id="Dapplo.InterfaceImpl" version="0.2.12" targetFramework="net461" />
  <package id="Dapplo.Language" version="0.5.29" targetFramework="net461" />
  <package id="Dapplo.Log" version="1.2.1" targetFramework="net461" />
  <package id="Dapplo.Log.Loggers" version="1.2.1" targetFramework="net461" />
  <package id="Dapplo.Utils" version="1.0.161" targetFramework="net461" />
  <package id="Fody" version="3.1.4" targetFramework="net461" developmentDependency="true" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net461" />
  <package id="MahApps.Metro.IconPacks" version="2.3.0" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net461" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net461" />
  <package id="System.Reactive" version="4.1.0" targetFramework="net461" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="ToastNotifications" version="2.3.4" targetFramework="net461" />
</packages>