<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net45" />
  <package id="Autofac.Extras.AttributeMetadata" version="4.0.1" targetFramework="net45" />
  <package id="Autofac.Mef" version="4.0.0" targetFramework="net45" />
  <package id="Dapplo.ActiveDirectory" version="0.1.51" targetFramework="net45" />
  <package id="Dapplo.Addons" version="1.0.57" targetFramework="net46" />
  <package id="Dapplo.InterfaceImpl" version="0.2.12" targetFramework="net45" />
  <package id="Dapplo.Log" version="1.2.1" targetFramework="net45" />
  <package id="Dapplo.Utils" version="1.0.158" targetFramework="net45" />
</packages>