<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.3" targetFramework="net45" />
  <package id="Dapplo.Addons" version="0.5.56" targetFramework="net45" />
  <package id="Dapplo.InterfaceImpl" version="0.2.12" targetFramework="net45" />
  <package id="Dapplo.Language" version="0.5.24" targetFramework="net45" />
  <package id="Dapplo.Log" version="1.2.1" targetFramework="net45" />
  <package id="Dapplo.Utils" version="1.0.158" targetFramework="net45" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net45" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net45" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net45" />
</packages>